* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainWhite: #F2EEF7;
  --serenity: #A3A3B7;
  --mainBlack: #222;
  --roseRed: #FF2768;
  --hover: rgb(245, 9, 80);
  --charcoal: #1B4A56;
  --mainTransition: all 0.4s linear;
  --fastTransition: all 0.2s linear;
  --mainSpacing: 3px;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.2);
  --darkShadow: 4px 20px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

/* globals**/

body {
  color: var(--mainBlack);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.4;
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  background: var(--roseRed);
  padding: 0.4rem 0.9rem;
  border: 2px solid var(--roseRed);
  transition: var(--mainTransition);
  cursor: pointer;
}

.btn-primary:hover {
  background-color: transparent;
}

/* header */

header {
  padding-top: 2em;
  padding-bottom: 2em;
  color: var(--mainWhite);
  background-color: #6f7287;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url(./images/bgc6.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  text-align: center;
  margin-bottom: 1.5em;
}

header h1 {
  color: var(--mainWhite);
  margin-bottom: 1.5em;
}

.roseRed {
  color: var(--roseRed);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
}

header .catchPhrase {
  font-size: 1.5em;
  width: 70%;
  margin: 5em auto 7em;
  max-width: 48em;
  font-weight: lighter;
}

.header-btn {
  padding: 15px;
  background-color: var(--roseRed);
}

@media screen and (max-width: 768px) {
  header h1 {
    display: none;
  }
  header .catchPhrase {
    font-size: 1.3em;
    width: 90%;
    margin: 5em auto 7em;
  }
}

/*navbar */

.navbar {
  border-top: 1px solid var(--mainWhite);
  border-bottom: 1px solid var(--mainWhite);
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  font-size: 1.2em;
  z-index: 1;
  transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
}

.sticky {
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--mainBlack);
  display: flex;
  justify-content: space-between;
  border: none;
  width: 100%;
}

.nav-header, .nav-div {
  display: inline-block;
}

.logo {
  display: inline-block;
  width: 1px;
  height: 1px;
  font-size: 0px;
  transition: var(--mainTransition);
  -webkit-transition: var(--mainTransition);
  -moz-transition: var(--mainTransition);
  -ms-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
}

.nav-logo {
  width: initial;
  height: initial;
  display: inline-block;
  overflow: visible;
  font-size: 2em;
}

.logo a {
  color: var(--mainWhite);
}

.logo, .nav-logo a:hover {
  text-decoration: none;
}

.nav-btn {
  display: none;
}

.nav-div ul .nav-links {
  display: inline-block;
  padding: 5px 1.5em;
}

.nav-links a {
  color: white;
}

.navbar .nav-links a {
  font-size: 0.84em;
}

.sticky .nav-links a {
  font-size: 0.84em;
}

.nav-div ul .nav-links a:hover {
  text-decoration: underline;
}

.nav-links .active {
  color: var(--roseRed)
}

@media screen and (max-width: 768px) {
  .nav-header {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: initial;
    height: initial;
    display: inline-block;
    overflow: visible;
    font-size: 1.5em;
  }
  .navbar {
    position: fixed;
    top: 0;
    padding: 0.5em;
    background-color: var(--mainBlack);
    display: block;
    border: none;
  }
  .nav-btn {
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .nav-icon {
    font-size: 2.0em;
    color: var(--mainWhite);
    color: var(--serenity);
  }
  .nav-div {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);
    list-style-type: none;
  }
  .show-nav {
    height: 9em;
  }
  .nav-div, .navbar ul {
    display: block;
    width: 100%;
  }
  .nav-div ul .nav-links {
    display: block;
    padding: 0.4em 0;
    color: var(--mainBlack);
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1em;
  }
}

/*Title*/

.section-title {
  text-align: center;
}

.section-title h4 {
  font-size: 2em;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 0.7em;
}

.section-title div {
  width: 5em;
  height: 5px;
  margin: 0 auto;
}

/* End of Title */

/* event */

.event {
  flex: 1 1 260px;
  position: relative;
  margin: 1em 1em;
  max-width: 300px;
  min-width: 260px;
  box-shadow: var(--lightShadow);
  padding: 0.7em 0.5em;
  transition: var(--fastTransition);
  -webkit-transition: var(--fastTransition);
  -moz-transition: var(--fastTransition);
  -ms-transition: var(--fastTransition);
  -o-transition: var(--fastTransition);
}

.event a>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event img {
  width: 50%;
}

.event:hover {
  box-shadow: var(--darkShadow);
}

.event .info-container {
  text-align: left;
}

.event .info-container p {
  padding: 0.1em;
}

.event-name {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: capitalize;
}

.event-date {
  font-size: 1em;
  color: var(--charcoal);
}

.event-location {
  font-size: 1.1em;
  color: rgba(34, 34, 34, 0.705);
}

.event .info-container .event-price {
  background-color: rgba(34, 34, 34, 0.205);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 1em;
}

/* end of event */

/* FeaturedEvents */

.featured-events {
  margin: 7em auto;
  width: 90vw;
}

.featured-events .section-title {
  text-align: left;
}

.featured-events .section-title h4 {
  color: var(--roseRed);
  width: fit-content;
  ;
}

.featured-events-center {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.featured-events-center a {
  color: black;
  text-decoration: none;
}

.featured-events a.more {
  font-size: 1.1em;
  max-width: 280px;
  margin: 2.5em auto 0;
  text-align: center;
  padding: 0.5em 1em;
  display: block;
  transition: var(--fastTransition);
  border-radius: 2px;
  -webkit-transition: var(--fastTransition);
  -moz-transition: var(--fastTransition);
  -ms-transition: var(--fastTransition);
  -o-transition: var(--fastTransition);
}

.featured-events a.more:hover {
  text-decoration: none;
  color: var(--charcoal);
}

/* End of FeaturedEvents */

/*offers*/

.offers-first {
  margin-bottom: 4em;
}

.offers-center {
  width: 90vw;
  margin: 1.9em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.offer {
  flex: 1 1 260px;
  color: black;
  margin: 1em 1em;
  max-width: 300px;
  min-width: 260px;
  border: 1px solid #e5e5e5;
  padding: 5em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer span {
  font-size: 3.5em;
}

.offer h4 {
  color: var(--charcoal);
  text-transform: capitalize;
}

.offer p {
  width: 1px;
  height: 1px;
  overflow: hidden;
  transition: var(--mainTransition);
  -webkit-transition: var(--mainTransition);
  -moz-transition: var(--mainTransition);
  -ms-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
}

.offer:hover p {
  display: inline-block;
  width: initial;
  height: initial;
}

.offer:hover {
  padding: 0.5em;
}

.offers-text {
  width: 90vw;
  text-align: center;
  padding: 1.5em 1em;
  background-color: var(--mainWhite);
  margin: auto;
  color: var(--charcoal);
  margin-bottom: 5em;
}

.offers-text p {
  font-size: 1.4em;
}

.offers-text a {
  text-decoration: none;
  color: rgb(55, 142, 240);
}

.offers-text a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .offer {
    padding: 0.5em;
  }
  .offer p {
    width: initial;
    height: initial;
  }
  .offers-text p {
    font-size: 1.1em;
  }
}

/*AuthPage**/

.main {
  margin: auto 0;
  background: url(./images/bgc3.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  color: var(--mainBlack);
}

div.form-wrapper {
  min-height: 100vh;
  min-width: 280px;
  max-width: 500px;
  background-color: #fff;
  padding: 10px;
  margin-right: auto;
  margin-left: 12em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

div.form-section>h1, div.form-section>p {
  text-align: center;
}

div.form-wrapper a {
  text-decoration: none;
  color: rgb(55, 142, 240);
}

div.form-section>p a:hover {
  text-decoration: underline;
}

div.form-section>h1 {
  margin-top: 1.5em;
  font-size: 1.8em;
  letter-spacing: 2px;
}

.form-footer {
  bottom: 20px;
  text-align: center;
  padding-top: 10px;
  color: rgb(49, 49, 49);
  bottom: 0px;
  width: 95%;
}

.form-footer p {
  text-align: center;
}

.form-footer p>span {
  display: inline-block;
  padding: 0px 5px;
}

small.copyright {
  display: block;
  margin-top: 0.8em;
  font-size: 0.85em;
  text-align: center;
  padding-bottom: 0.7em;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

small a {
  color: var(--charcoal);
}

small a:hover {
  text-decoration: underline;
}

@media(max-width: 768px) {
  div.form-wrapper {
    margin: 0 auto;
  }
}

/*AuthPage Login**/

div.login-center {
  margin-top: 3em;
  text-align: center;
  margin-bottom: 3em;
}

.input-grp+.input-grp {
  margin-top: 25px;
}

.input-grp input {
  height: 3em;
  width: 90%;
  min-width: 250px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb( 234, 234, 234);
  transition: border-color 0.23s ease-in-out 0s, box-shadow 0.23s ease-in-out 0s;
  -webkit-transition: border-color 0.23s ease-in-out 0s, box-shadow 0.23s ease-in-out 0s;
  -moz-transition: border-color 0.23s ease-in-out 0s, box-shadow 0.23s ease-in-out 0s;
  -ms-transition: border-color 0.23s ease-in-out 0s, box-shadow 0.23s ease-in-out 0s;
  -o-transition: border-color 0.23s ease-in-out 0s, box-shadow 0.23s ease-in-out 0s;
}

.input-grp input:hover {
  border-bottom-color: rgb(200, 200, 200);
}

.input-grp input:focus {
  outline: none;
  box-shadow: rgb(55, 142, 240) 0px 1px 0px;
  border-color: rgb(55, 142, 240);
}

.login-btn {
  color: white;
  height: 3em;
  width: 90%;
  min-width: 250px;
  border-width: 1px;
}

.login-btn:hover {
  color: var(--mainBlack);
}

/* Footer**/

footer {
  background-color: var(--charcoal);
  padding: 8em 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

footer .flex-container {
  padding-bottom: 6em;
  border-bottom: 1px solid var(--serenity);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1300px;
  margin: auto;
}

footer h6, footer h5 {
  color: var(--mainWhite);
  margin-bottom: 1em;
  font-weight: 300;
}

footer h6.follow-us {
  margin-top: 2em;
}

footer .footer-about {
  width: 47%;
}

footer .footer-about p {
  width: 65%;
  color: var(--serenity);
}

footer .footer-about h5 span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
}

footer .footer-quick-links {
  width: 16%
}

footer .footer-quick-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .footer-quick-links ul li {
  margin: 10px 0;
}

footer .footer-quick-links ul li a {
  color: var(--serenity);
}

footer .footer-quick-links ul li a:hover {
  color: var(--mainwhite);
}

footer .footer-subscribe {
  width: 35%;
}

#subscribe-container {
  position: relative;
}

footer .footer-subscribe input {
  border-radius: 15px;
  height: 43px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid var(--serenity);
  background-color: transparent;
  font-size: 1em;
  padding: 10px;
  color: var(--mainWhite);
  width: 80%;
  outline: none;
  padding-right: 5.3em;
}

footer button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--roseRed);
  font-size: 1em;
  color: black;
  padding: 10px 30px 9px;
  line-height: 1.5;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 8%;
}

footer button:hover {
  background: var(--mainWhite);
}

/* footer .footer-subscribe{
  
} */

footer .footer-subscribe ul li {
  display: inline-block;
  margin: 0 16px;
}

footer .footer-subscribe ul li:first-child {
  margin-left: 0;
}

footer .footer-subscribe ul li a {
  color: var(--serenity);
}

footer .footer-subscribe ul li a:hover {
  color: var(--mainWhite);
}

footer small {
  margin-top: 3em;
  font-size: 1em;
  display: block;
  text-align: center;
}

footer small a {
  color: var(--serenity);
}

footer small a:hover {
  color: var(--mainWhite);
}

@media(max-width: 991px) {
  footer {
    padding: 6em 0;
  }
  footer .flex-container {
    flex-wrap: wrap;
  }
  footer .flex-container>div {
    width: 100%;
    margin-top: 1em;
  }
  footer .flex-container>div:first-child {
    margin-top: 0;
  }
  footer .footer-about p {
    font-size: 1em;
    width: 100%;
  }
  footer .footer-subscribe input {
    width: 90%;
    padding-right: 6em;
  }
  footer button {
    right: 10%;
  }
  footer h6.follow-us {
    margin-top: 2em;
  }
}

@media(max-width: 500px) {
  footer {
    padding: 4em 0;
  }
  footer button {
    right: 6%;
  }
  footer small {
    padding: 0.3em;
  }
  footer .footer-subscribe input {
    padding-right: 5em;
  }
}